mixin module__single(data)
  - var bemClass = 'module__single'
  <!-- module__single -->  
  .module__single&attributes(attributes)
    .container 
      span(class=bemClass + '__date') 3 may 2018
      span(class=bemClass + '__title') Title
      img(class=bemClass + '__img' src=config.path.images + '/news/news01.jpg' alt='')
      .content
        h3 What is the story behind your brand?
        p I think it was born out of frustration. I had all these ideas and images in my head, but couldn’t figure out how I wanted to turn them into a drawing. At the same time, I was also really bored with all my clothes, so I just bought a pack of blank t-shirts and paints and went for it. It was a really good way to get over my creative block.
        p Well, I also work at a restaurant, so I try my best to fill most of my free time with making art! But I’m lucky to be surrounded by lots of creative people, so that even when I’m not making art, I always feel creatively encouraged and stimulated. I also eat a lot of snacks, try to take care of my plants, and make friends with dogs.
        p Each of my products is painted by hand. I originally had a few designs that were made to order, but painting the same thing from a template over and over got very tiresome. So now I just make products that are one of a kind. There’s no real plan or process to it, really.
        img(class=bemClass + '__img-2' src=config.path.images + '/news/news01.jpg' alt='')
        h3 What is the story behind your brand?
        p When I first started painting with ink, I was using calligraphy or sumi-e brushes, which are very soft and hold a lot of ink. I was really attracted to this because it helped me to paint with a certain type of looseness that I generally don’t have. Eventually.
        p The funny thing is that painting on clothes with those watercolor brushes feels a lot like painting with calligraphy brushes on paper. It made me miss those qualities in my painting, so I’ve been playing around with sumi-e brushes again. It’s been kind of tricky, I’ve forgotten how to use them, but I think that art is a constant process.
        ul 
          li I finally got to purchase one of her woven blankets and I’m so happy with it. I’ve always admired her store and related a lot to her aesthetic. In a way, it encouraged me to start my own.
          li I’ve actually relocated my work space…to another room in my apartment, which looks like a larger version of my old space. Haha! I’m very much a creature of comfort when it comes to my work. I guess that’s probably why my room looks so much like my drawings. It’s fun to draw in museums or sketch out ideas when I’m in a coffee shop or at the beach or something like that. But when I am really ready to flesh out an idea, I need to be in my own space surrounded with all my tools and things just the way I like it.

  <!-- end of module__single -->